@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
  font-family: "arial";
  src: url("./font/FontsFree-Net-arial-bold.ttf");
}

:root {
  transition: all var(--animation-duration) ease-in;
}
.body {
  margin: 0 100px;
}
