.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -130px;
  }

  /* 상단 이미지 */
  .imageContainer {
    width: 100%;
    text-align: center;
    margin-bottom: 20px; /* 이미지와 논문 목록 사이의 간격 조절을 위해 추가 */
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 컨테이너에 가득 차도록 설정 */
  }
  
  .paper {
    margin-bottom: 20px;
  }
  
  .year {
    font-size: 24px;
    margin-bottom: 1em;
    text-align: left;
  }
  
  /* 논문 제목부분 */
  .title {
    font-size: 1.2em;
    color: green;
    position: relative;
    text-decoration: none;
  }
  
  .title:hover {
    text-decoration: none;
  }
  
  .title:hover .underline {
    display: block;
  }
  
  .underline {
    display: none;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: green;
  }
  
  
  .author {
    font-size: 14px;
    color: gray;
  }
  
  .publication {
    font-size: 14px;
    color: gray;
  }
  .info {
    text-align: left;
  }
  .title {
    color: black;
    text-decoration: none;
  }
  
  .title a:hover {
    color: purple;
  }
  .link {
    color: black;
    text-decoration: none;
  }
  
  .link:hover {
    color: purple;
  }
  /* article 제목부분 */
  .articleTitle {
    font-size: 48px;
    color: green; /* 원하는 색상으로 변경 */
  }